# Strict peer dependencies
strict-peer-dependencies=false
# Prevent pnpm from adding the "workspace:" prefix to local dependencies
save-workspace-protocol=false
# Use hoisting to deduplicate dependencies
hoist-pattern[]=*
# Enable workspaces
link-workspace-packages=true
